{% if extender %}
	{% extends extender %}
{% endif %}

{% block page %}
<div id="editPage_block">
	<div id="editPage_field">
		<div id="editPage_fieldAvatar">
			<div>
				<label for="user_avatar">
					{% if response.user_avatar %}
						<img src="/usr/av/{{ response.user_avatar }}.jpg" id="editPage_avatar">
					{% else %}
						<img src="/img/sys/nocover2.jpg" id="editPage_avatar">
					{% endif%}
					<div id="editPage_avatarWrap">
						<div id="editPage_avatarWrapSuppose">Upload photo</div>
					</div>
				</label>
				<input type="file" id="user_avatar" class="UploadPhoto" style="visibility: hidden;" onchange="Profile.UploadPhoto(event, this.files);">
			</div>
		</div>
		<div id="editPage_fieldForm">
			<input type="hidden" class="FormDefault UploadPhoto" id="csrf" value="{{ csrf }}">
			<div class="FormDefaultInputField">
				<input placeholder="First Name" value="{{ response.first_name }}" class="FormDefault" type="text" id="first_name">
			</div>
			<div class="FormDefaultInputField">
				<input placeholder="Last Name" value="{{ response.last_name }}" class="FormDefault" type="text" id="last_name">
			</div>
			<div class="FormDefaultInputField">
				<input placeholder="Username" value="{{ response.user_name }}" class="FormDefault" type="text" id="user_name">
			</div>
			<div class="FormDefaultInputField">
				<input class="AuthButton AuthFormLoginButton" onclick="Profile.Edit(event, this);" type="submit" value="Edit"/>
			</div>
			{% if msg != None %}
				<hr class="HRgreyline">
				{% if msg.status == 1 %}
				<div class="success AuthFormError">
				{% elif msg.status == 0 %}
				<div class="error AuthFormError">
				{% endif %}
				{{ msg.text }}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock page %}