{% extends "highlevel.html" %}
{% block signlog %}

<p class="Pupper">Login</p>
<p class="Pexplain">Want to login fill out this form!</p>
<hr class="HRgreyline">
<div id="highlevelSignupForm">
	<form action="/login" method="POST">
		<div class="FormInputField">
			<label class="FormExplain" for="loginEmail">Your email</label>
			<input value="{{ response.email }}" class="FormDefault" type="text" name="loginEmail" id="loginEmail">
		</div>
		<div class="FormInputField">
			<label class="FormExplain" for="loginPassword">Password</label>
			<input value="" class="FormDefault" type="Password" name="loginPassword" id="loginPassword">
		</div>
		<div class="FormInputField">
			<button class="FormButton" type="submit">Log In!</button>
		</div>
		<div id="signupLoginError">
			{% if error != None %}
				<hr class="HRgreyline">
				{{ error }}			
			{% endif %}
		</div>
	</form>	
</div>
{% endblock %}