<p class="Pupper">Sign up for Worldview</p>
<hr class="HRgreyline">
<div id="highlevelSignupForm">
	<form action="/signup" method="POST">
		<input type="hidden" name="csrf" value="{{ csrf }}">
		<div class="AuthFormInputField">
			<input placeholder="First Name" value="{{ response.signupFName }}" class="FormDefault" type="text" name="signupFName" id="signupFName">
		</div>
		<div class="AuthFormInputField">
			<input placeholder="Last Name" value="{{ response.signupLName }}" class="FormDefault" type="text" name="signupLName" id="signupLName">
		</div>
		<div class="AuthFormInputField">
			<input placeholder="Email" value="{{ response.signupEmail }}" class="FormDefault" type="text" name="signupEmail" id="signupEmail">
		</div>
		<div class="AuthFormInputField">
			<input placeholder="Password" value="{{ response.signupPassword }}" class="FormDefault" type="Password" name="signupPassword" id="signupPassword">
		</div>
		<div class="FormInputField">
			<input class="AuthButton AuthFormSignupButton" type="submit" value="Sign up!"/>
		</div>
	</form>						
</div>
