<p class="Pupper">Sign up for Worldview</p>
<hr class="HRgreyline">
<div id="highlevelSignupForm">
	<form action="/signup" method="POST">
		<input type="hidden" name="csrf" value="{{ csrf }}">
		<div class="FormDefaultInputField">
			<div class="FormDefault_predict">First name</div>
			<input value="{{ response.signupFName }}" class="FormDefault" type="text" name="signupFName" id="signupFName">
		</div>
		<div class="FormDefaultInputField">
			<div class="FormDefault_predict">Last name</div>
			<input value="{{ response.signupLName }}" class="FormDefault" type="text" name="signupLName" id="signupLName">
		</div>
		<div class="FormDefaultInputField">
			<div class="FormDefault_predict">Email</div>
			<input value="{{ response.signupEmail }}" class="FormDefault" type="text" name="signupEmail" id="signupEmail">
		</div>
		<div class="FormDefaultInputField">
			<div class="FormDefault_predict">Password</div>
			<input value="{{ response.signupPassword }}" class="FormDefault" type="Password" name="signupPassword" id="signupPassword">
		</div>
		<div class="FormInputField">
			<input class="AuthButton AuthFormSignupButton" type="submit" value="Sign up!"/>
		</div>
		<div class="FormInputField">
			<a class="a_mainUnder">1</a>
		</div>
	</form>						
</div>
