<p class="Pupper">Login</p>
<hr class="HRgreyline">
<div id="AuthForm">
	<form action="/login" method="POST">
		<div class="AuthFormInputField">
			<input value="{{ response.email }}" placeholder="Email" class="FormDefault" type="text" name="email">
		</div>
		<div class="AuthFormInputField">
			<input value="" placeholder="Password" class="FormDefault" type="Password" name="password">
		</div>
		<div class="AuthFormInputField">
			<input class="AuthButton AuthFormLoginButton" type="submit" value="Log In!"/>
		</div>
	</form>	
</div>