{% if extender %}
	{% extends extender %}
{% endif %}

{% block page %}
	<div id="profileWrap">
		<div id="profileAvatar">
			<label for="user_avatar">
				{% if response.user_avatar %}
					<img id="editPage_avatar" src="/usr/av/{{ response.user_avatar }}.jpg" style="width: 150px;height: 150px;border-radius: 100px;">
				{% else %}
					<img id="editPage_avatar" src="/img/sys/noavatar.png" style="width: 150px;height: 150px;border-radius: 100px;">
				{% endif%}

				{% if session.user_id == response.user_id %}
					<div id="editPage_avatarWrap" style="width: 150px;height: 150px;">
						<div id="editPage_avatarWrapSuppose" style="padding: 68px 0px;">Upload photo</div>
					</div>
					<input type="file" id="user_avatar" class="UploadPhoto" style="visibility: hidden; display: none;" onchange="Profile.UploadPhoto(event, this.files);">
					<input hash type="hidden" class="FormDefault UploadPhoto" id="csrf" value="{{ csrf }}">
				{% endif %}
			</label>
		</div>
		<div id="ProfileInformation">
			<div id="profileName">{{ response.first_name }} {{response.last_name }}</div>
			<div id="profileMenu">
				<a class="profileMenuH" href="/id{{ response.user_id }}?friends">
					<span>Friends</span>
					<span>0</span>
				</a>
				<a class="profileMenuH" href="/id{{ response.user_id }}?photos">
					<span>Photos</span>
					<span>0</span>
				</a>
				<a class="profileMenuH" href="/id{{ response.user_id }}?photos">
					<span>Followers</span>
					<span>0</span>
				</a>
			</div>
			{% if session.user_id != response.user_id %}
			<div id="profileLinks">
				<a hash="{{ csrf }}" class="profile_buttonMenu" onclick="Profile.AddFriend(this, {{ response.user_id }}, this.getAttribute('hash'))">Add to friend</a>			
			</div>
			{% endif %}
		</div>
	</div>
	<div id="profilePhotoBlock">
		{% if session.user_id == response.user_id %}
		<div id="profilePhotoBlockUpload">
			<span>Click to add a new photo</span>
		</div>
		{% endif %}
	</div>
{% endblock page %}