{% if extender %}
	{% extends extender %}
{% endif %}

{% block page %}
<div id="AuthFieldBig">
	<p class="Pupper">Sign up for Worldview</p>
	<hr class="HRgreyline">
	<div id="highlevelSignupForm">
		<form action="/signup" method="POST">
			<input hash type="hidden" name="csrf" value="{{ csrf }}">
			<div class="FormDefaultInputField">
				<div class="FormDefault_predict">First name</div>
				<input value="{{ response.signupFName }}" class="FormDefault" type="text" name="signupFName" id="signupFName">
			</div>
			<div class="FormDefaultInputField">
				<div class="FormDefault_predict">Last name</div>
				<input value="{{ response.signupLName }}" class="FormDefault" type="text" name="signupLName" id="signupLName">
			</div>
			<div class="FormDefaultInputField">
				<div class="FormDefault_predict">Email</div>
				<input value="{{ response.signupEmail }}" class="FormDefault" type="text" name="signupEmail" id="signupEmail">
			</div>
			<div class="FormDefaultInputField">
				<div class="FormDefault_predict">Password</div>
				<input value="{{ response.signupPassword }}" class="FormDefault" type="Password" name="signupPassword" id="signupPassword">
			</div>
			<div class="FormDefaultInputField">
				<input class="AuthButton AuthFormSignupButton" type="submit" value="Sign up!"/>
			</div>
			<div class="FormDefaultInputField" style="text-align: center;">
				<a class="a_mainUnder" href="/login">Have an account?</a>
			</div>
			{% if (msg is defined and msg) %}
				<hr class="HRgreyline">
				{% if msg.status == 1 %}
				<div class="success AuthFormError">
				{% elif msg.status == 0 %}
				<div class="error AuthFormError">
				{% endif %}
				{{ msg.text }}
			</div>
			{% else %}
				<div class="error AuthFormError">
				Signup service doesn't work
				</div>			
			{% endif %}
		</form>						
	</div>
</div>
{% endblock page %}