@font-face {
    font-family: "openSans";
    src: url('/fonts/proxima/Light.otf') format("truetype");
}

* {
 margin: 0;
 padding: 0;
}

html{
	overflow: auto;
}

body{
    font-family: openSans;
    font-weight: 100;
    color: rgba(0,0,0,0.8);
    overflow: hidden;
}

a{
	text-decoration: none;
	color: black;
}
div#scrollFix{
	overflow: hidden;
    width: calc(100vw - 20px);
}
div#debug{
    font-weight: bold;
    position: fixed;
    background: #ff5970;
    padding: 2px;
    color: black;
    width: 300px;
    border-top-right-radius: 15px;
    border: 1px solid rgba(125, 0, 0, 0.5);
    bottom: 0px;
}

div.error{
	border: 1px solid #f2ab99;
	background: #ffefe9;
}
div.successful{
	border: 1px solid #afd4a9;
	background: #effaed;
}

div#center, div#headersHref{
	width: 900px;
	margin: 0 auto;
}
div#header{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    background: rgba(255,255,255,1);
    width: 100vw;
}
div#main_progressBar{
    position: absolute;
    height: 2px;
    width: 0;
    background:#add5ff;
    z-index: 11;
}
a#headerLogotype{
	border: none;
    color: black;
    float: left;
    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
	padding: 0px !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM1MGRkZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzQ4YjJjYyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTA0Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(80, 221, 255)),color-stop(0.904, rgb(72, 178, 204)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom right,rgb(80, 221, 255) 0%,rgb(72, 178, 204) 90.4%);
    /* IE10+ */
    background-image: linear-gradient(to top left,rgb(80, 221, 255) 0%,rgb(72, 178, 204) 90.4%);
    background-image: -ms-linear-gradient(bottom right,rgb(80, 221, 255) 0%,rgb(72, 178, 204) 90.4%);
    -webkit-transition: background-color 5000ms linear;
    -ms-transition: background-color 5000ms linear;
    transition: background-color 5000ms linear;
}
a#headerLogotype:hover{
	background: rgb(80, 221, 255);
    -webkit-transition: background-image 5000ms linear;
    -ms-transition: background-image 5000ms linear;
    transition: background-image 5000ms linear;
}
span#headerLogotype{
	border: none;
    color: black;
    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
	padding: 0px;
    display: block;
    position: relative;
    background: url('/img/logo/wv.png') no-repeat;
    background-size: 40px;
    background-position: 10px;
    height: 40px;
    width: 60px;
}

div#highlevel{
    height: 100vh;
    background-size: cover;
}
div#searchBg, div#highlevelBackground{
    background-repeat: no-repeat;
    background: url('/img/sys/palms.jpg');
    background-size: cover;
    background-position: 50% 50%;
}
div#searchBg{
    margin: -20px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    -webkit-filter: blur(20px);
    filter: url(/media/blur.svg#blur);
    filter: blur(20px);
}
div#highlevelBackground{
    width: 980px;
    height: 592px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}
div#headersHref{
	width: 980px;
	color: #292f33;
    font-size: 14px;
}			
a.headerRef{
	line-height: 40px;
    position: relative;
    float: left;
    cursor: pointer;
    padding: 0 10px;
}
a.headerRef:hover{
    box-shadow: inset 0px 2px 0px 0px #50ddff;
    background: rgba(049, 146, 211, 0.02);
}
img#headerAvatar{
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin: 18px 8px 16px 0px;
    border-radius: 100%;
}
span.headerRef{
    padding: 10px 0;
    display: inline-block;
    vertical-align: top;
}
div#headersHref > div#headersHrefLeft{
	position: relative;
	float: left;
}
div#headersHref > div#headersHrefRight{
	position: relative;
	float: right;
}
div#headersHref >  * > input{
    border: 1px solid rgba(0,0,0,0.1);
    color: #292f33;
    padding: 5px 5px 5px 12px;
    font-size: 18px;
    height: 30px;
    border-radius: 15px;
    font-weight: 200;
    padding: 6px 6px 6px 19px;
    margin: 15px auto
}
div#headersHref >  * > input:focus{
	outline: none;
}
div#highlevelSearchLogo{
    width: 980px;
    height: 553px;
    margin: 0 auto;
    clear: both;
    position: relative;
    margin-top: 62px;
    background-size: cover;
}
div#AuthWrap{
    position: relative;
    z-index: 100;
    background: rgba(34, 34, 34, 0.19);
    z-index: 2;
    position: relative;
    float: right;
}
div#signup_rightColoumn{
  overflow: hidden;
    position: relative;
    float: right;
}

div#AuthFieldBig, div#AuthField{
	position: relative;
    background: #fff; */
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; */
}
div#AuthField{
    margin: 25px 20 20px;
    padding: 25px;
}
div#AuthFieldBig{
    margin: 100px auto;
    padding: 30px 160px 30px 160px;
    width: 280px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

div#AuthForm{
	position: relative;
}
div.AuthFormError{
	font-size: 16px;
    font-weight: bold;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0;
    bottom: 0px;
    padding: 10px 0px 10px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}


label.FormExplain{
	display: flex;
	font-size: 12px;
	cursor: pointer;
	margin: 0px 0px 4px 0px;
	color: rgba(0,0,0,0.5)
}
input.FormDefault{
	margin-bottom: 15px;
    width: 270px;
    color: #000;
    padding: 3px 5px;
    font-family: opensans;
    margin: 0;
    border: 1px solid #dbdbdb;
	font-size: 13px;
    padding: 6px 12px;
    box-sizing: border-box;
	height: 35px;
    border-radius: 3px;

    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 355px;
    flex: 0 1 355px;
    padding: 0 10px;
    height: 32px;
}
input.FormDefault:focus{
	border: 1px solid #dbdbdb;
}

input.AuthButton{
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border: none;
	cursor: pointer;
	color: #ffffff;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

input.AuthFormSignupButton{
	background: rgba(104, 179, 94, 1);
}
input.AuthFormSignupButton:hover{
	background: rgba(104, 200, 94, 1);
}

input.AuthFormLoginButton{
	background: rgba(74, 125, 181, 1);
}
input.AuthFormLoginButton:hover{
	background: rgba(74, 125, 220, 1);
}

p.Pupper{
    margin: -4px 0 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
p.Pexplain{
	font-size: 14px;
	color: rgba(0,0,0,0.5)
}
hr.HRgradient{
    border: 0;
    margin: 10px 0px 0px 0px;
    height: 1px;
    background: rgba(0,0,0,0.5);
    background-image: linear-gradient(to right, #ccc, rgba(0,0,0,0.5), #ccc);
}
hr.HRgreyline{
	border: 0;
    height: 0;
    margin: 10px 0px 0px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
div.FormDefaultInputField{
	margin: 10px 0px;
}

div#loginpageContent{
	 margin: 50px auto;
    padding: 37px 30px;
    width: 680px;
}









div#page{
	overflow: hidden;
    width: 900px;
    height: auto;
    color: black;
    margin: 0 auto;
}
div.worldUserBlock{
    margin: 15px;
    border: 1px solid rgb(247, 247, 247);
    padding: 15px;
    font-size: 20px;
}
div#profileCover{
    display: block;
    height: 220px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
    background: url('https://vk.com/images/blog/about_cover.jpg') no-repeat;
    width: 100%;
}
div#profileCover:before{
    content: "";
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    background-size: cover;
}
div#profileMain{
    width: 200px;
    background: white;
    padding: 0px;
    border-radius: 200px;
    border: 1px solid rgba(0,0,0,.1);
}
div#profileWrap{
    margin-top: 62px;
    z-index: 2;
    padding: 0px 20px;
    position: relative;
}
div#profileInformation{
    float: left;
    position: relative;
    text-align: left;
    margin-top: 70px;
    padding: 15px 20px;
}

div#profileAvatar{
    float: left;
    margin-top: 50px;
    position: relative;
    text-align: center;
}
img#profilveAvatarImg{
    width: 90px;
    background: white;
    height: 90px;
    border-radius: 100px;
}
div#profileName{
    color: white;
    font-size: 29px;
}
div#profileMenu{
    left: 0;
    clear: both;
    float: left;
    position: relative;
    height: 75px;
    margin-top: 6px;
}
div#profileMenu > a{
	display: inline-block;
    padding: 13.5px;
    color: white;
}
div#profileMenu > a > span{
	padding: 0 3px;
	display: block;
}
div#profileMenu > a > span:first-child{
	display: block;
    color: #fff;
    font-size: 14px;
}
div#profileMenu > a > span:last-child{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
div#profileLinks{
	left: 0;
    float: right;
    position: relative;
    margin-top: 24px;
}
div#profileLinks > a{
	display: inline-block;
    padding: 15.5px;
    color: white;
}
div#profileLinks > a > span{
	display: inline-block;
    font-size: 14px;
    color: white;
}
div#profilePhotoBlock{
    width: 100%;
    overflow: hidden;
}
div#profilePhotoBlockUpload{
    position: relative;
    float: left;
    height: 220px;
    width: 250px;
    margin: 20px;
    border: 1px dashed rgba(0,0,0,0.2);
}
div#profilePhotoBlockUpload > span{
    padding: 5px 39.5px;
    display: block;
    padding: 97px 0;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
}

div#editWrap{
    overflow: hidden;
    margin: 70px auto 20px;
    position: relative;
    width: 600px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;	
}
div#editAvatar{
	overflow: hidden;
	width: 90px;
    position: relative;
    margin: 30px;
    float: left;
}
div#editInputBlock{
    position: relative;
    float: right;
    margin: 15px 20px;
    width: 408px;
}
div#editInputBlock >  * >label{
	padding: 7px 12px;
    position: relative;
    width: 70px;
    float: left;
    text-align: right;
    font-size: 13px;
}
input.editSaveButton{
	color: rgba(74, 125, 181, 1);
    margin-top: 30px;
    border: 1px solid rgba(74, 125, 181, 1);
    background: none;
    padding: 4px;
}
select.formDefault{
    background: 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-family: openSans;
    height: 32px;
    padding: 0 30px 0 10px;
    -moz-appearance: none;
}
div#editPage_avatarWrap{
    cursor: pointer;
    width: 200px;
    color: rgba(255,255,255,0);
    height: 200px;
    top:0px;
    position: absolute; 
    border-radius: 50%;
    background: rgba(0,0,0,0);
}
div#editPage_avatarWrap:hover{
    color: rgba(255,255,255,.95);
    background: rgba(0,0,0,.5);
}
div#editPage_avatarWrap > div{
    font-size: 13px;
    padding: 91px 0px;
    text-align: center;
}




/* ERROR PAGE */
div#page404_Background{
    background: rgb(226, 98, 98);
    width: 100vw;
    height: 100vh;
}
div#page404_Request{
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 100vh;
}

/* EDIT PAGE */
div#editPage_block{
    top: 60px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 60px auto 0;
}
div#editPage_field{
    padding: 40px;
    position: relative;
    height: 390px;
}
div#editPage_fieldAvatar{
    height: 100%;
    position: relative;
    float: left;
    width: 200px;
}
div#editPage_fieldForm{
    height: 100%;
    position: relative;
    float: right;
    width: 270px;
}
div#editPage_fieldAvatar > div{
    height: 200px;
    width: 200px;
}
div#editPage_fieldAvatar > div > * > img{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: 100%;
}