{% extends "main.html" %}
{% block content %}
<div id="AuthFieldBig">
	<p class="Pupper">Login</p>
	<hr class="HRgreyline">
	<div id="AuthForm">
		<form action="/login" method="POST">
			<div class="FormDefaultInputField">
				<input value="{{ response.email }}" placeholder="Email" class="FormDefault" type="text" name="email">
			</div>
			<div class="FormDefaultInputField">
				<input value="" placeholder="Password" class="FormDefault" type="Password" name="password">
			</div>
			<div class="FormDefaultInputField">
				<input class="AuthButton AuthFormLoginButton" type="submit" value="Log In!"/>
			</div>
			<input type=hidden name=csrf value="{{ csrf }}">
			{% if msg != None %}
				<hr class="HRgreyline">
				{% if msg.status == 1 %}
				<div class="AuthFormError successful">
				{% elif msg.status == 0 %}
				<div class="AuthFormError error">
				{% endif %}
				{{ msg.text }}
			</div>
			{% endif %}
		</form>	
	</div>
	</div>
</div>
{% endblock content %}